<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlFunTests" connectionString="server=localhost;database=sqlfuntest;uid=jacenty;pwd=Mobutu-216;AllowLoadLocalInfile=True;" providerName="MySql" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>