---
---

@import "{{ site.theme }}";

.inner { max-width: 800px; };

.logo {
  position: absolute;
  right:20px;
  top: 10px;
  border: 0;
  box-shadow: none;
}

.sidebar_outer {
  float: right;
  width: 400px;
  margin-top: 35px;
  margin-left: 50px;
  margin-right:50px;
}
