---
---

@import "{{ site.theme }}";

.inner { max-width: 1200px; }

.main_inner { 
  max-width: 840px; 
  display: inline-block; 
  vertical-align: top;
};

.logo {
  position: absolute;
  right:20px;
  top: 10px;
  border: 0;
  box-shadow: none;
}

#downloads { right: 310px; }

#forkme_banner { right: 310px; }

.sidebar_outer {
  display: inline-block; 
  vertical-align: top;
  width: 250px;
  margin-top: 40px;
  margin-left: 40px;
}

.sidebar_inner {
}
