---
---

@import "{{ site.theme }}";

.inner { max-width: 800px; };

.logo {
  position: absolute;
  right:20px;
  top: 10px;
  border: 0;
  box-shadow: none;
}

.sidebar_outer {
  float: right;
  width: 350px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right:30px;
}
